*{
    text-align:center;
    }
 body{
       margin: 0;
       background: linear-gradient(to right, #00AAFF, #00FF6C)
   }
 .header{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin-top: 40vh;
     color: aliceblue;
 }

 .URL,.download-btn{
     font-size: .8em;
     padding: 10px 15px;
     border-radius: 8px;
     border: none;
 }
 .URL{
     text-align: left;
     width: 30em;
     background: #EEEEEE;
 }
 .URL:focus {
     border: 2px solid #0485ff;
 }
.download-btn{
    background-color:#66bce7;

}
 .download-btn:hover{
     transform:scale(1.1,1.1);
 }
